body {
    padding: 0;
    margin: 0;
    background-color: rgb(63, 63, 63);
    border: 0;
    overflow-x: hidden;
  }
  
  h3{
    font-size: 16px;
    font-weight: 700;
    color: $color-parrafos;
  }
  h4{
    font-size: 14px;
    font-weight: 500;
    color: $color-parrafos;
  }
  nav{
    display: flex;
    background-color: $background-footer-header;
    font-family: $font-principal;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 999;
    justify-content: space-evenly;
  }
  header {
    display: flex;
    background-color:$background-footer-header;
    font-family: $font-principal;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 999;
    justify-content: space-evenly;
   
  }
  ul li {
    display: inline-block;
    list-style-type: none;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  li{
    transition: all .6s ease-in-out;
  }
  
  li:hover{
    transform: scale(1.2);
  }
  
  a {
    font-family: $font-principal;
    text-decoration: none;
    color: rgb(187, 132, 31);
    font-size: 20px;
    transition: all .5s ease-in-out;
  }
  
  a:hover {
    color: rgb(214, 104, 15);
    font-size: 20px;
    transform: scale(1.1);
  
  }
  
  h1 {
    font-family: $font-parrafos;
    font-weight: 800;
    color: rgb(43, 65, 65);
    font-size: 45px;
    text-align: center;
  }
  
  h2 {
    font-family: $font-principal;
    color: rgb(43, 65, 65);
    font-size: 35px;
    text-align: center;
  }
  
  footer{
    display: flex;
    justify-content: center;
  }
  p {
    font-family: $font-parrafos;
    text-align: center;
    font-size: 26px;
    margin-left: 100px;
    margin-right: 100px;
  }