@media(max-width:900px) and (min-width:500px){
    
    .display-index{
        display:block;
        text-align: center;
    }
    #venta-index{
        display:block;
        text-align: center;
    }
    .seccion-fotos{
        display: block;
        text-align: center;
    }
    .seccion-fotos2{
        display: block;
        text-align: center;
    }
    .footer-flex{
        display: block;
        text-align: center;
        
    }
    .column2{
        text-align: center;
    }
    /* ul nav */
    .header-position{
        display: none;
    }
    .menu-mobile {
        display: block;
    }
    #cuerpo-index{
        display: block;

    }
    .anim-img{
        width: auto;
    }

    header{
        display: block;
        position: relative;

    }

    nav{
        display: none;
        position: relative;
    }

    /* palmares */
    .iframe-palmares{
        display:none;
    }

    /* lotes */
    .lotes-body{
        display: block;
    }

    .video-lotes{
        display: none;
        width: auto;
    }

    #imagenes-lotes-venta{
        display: block;
        align-content: center;
    }
    .imagenes-lotes{
        display: block;
        align-items: center;
    }
    .fotografias-lotes {
        width: 300px;
        height: 225px;
        padding: 20px;
        transition: none;  
      }
      /* vender */
      .principal-vender{
        display: block;
    }
    #background-iframe{
        display: none;
    }

    /* form */
    .body-form{
        display: block;
    }

    .lotes-center{
        display: block;
        align-content: center;
      }

      .formulario{
    
        padding: 10px 0 10px 0;
        width: 50%;
        margin-left: 10px;
      }    
}


@media(max-width:1268px) and (min-width:901px){
    
    .display-index{
        display:block;
        text-align: center;
    }
    #venta-index{
        display:block;
        text-align: center;
    }
    .seccion-fotos{
        display: block;
        text-align: center;
    }
    .seccion-fotos2{
        display: block;
        text-align: center;
    }
    .footer-flex{
        display: block;
        text-align: center;
        
    }
    .column2{
        text-align: center;
    }
    
    .header-position{
        display: block;
    }
    
        
    

    #cuerpo-index{
        display: block;

    }

    header{
        display: block;
        position: relative;
        
    }

    /* palmares */

    .iframe-palmares{
        display:none;
    }

    /* lotes */
    .lotes-body{
        display: block;
    }

    .video-lotes{
        display:none;
        width: auto;
    }

    #imagenes-lotes-venta{
        display: block;
        align-content: center;
    }

    .imagenes-lotes{
        display: block;
        align-items: center;
    }
    .fotografias-lotes {
        width: 300px;
        height: 225px;
        padding: 20px;
        transition: none;  
        margin: 0 auto;
      }
      /* vender */
      .principal-vender{
        display: block;
    }
    #background-iframe{
        display: none;
    }

    .lotes-center{
        display: block;
        align-content: center;
      }

      .formulario{
    
        padding: 10px 0 10px 0;
        width: 50%;
        margin-left: 10px;
      }    
}


@media (max-width:499px) and (min-width:301px){

    .display-index{
        display:block;
        text-align: center;
    }
    #venta-index{
        display:block;
        text-align: center;
    }
    .seccion-fotos{
        display: block;
        text-align: center;
    }
    .seccion-fotos2{
        display: block;
        text-align: center;
    }
    .footer-flex{
        display: block;
        text-align: center;
        
    }
    .column2{
        text-align: center;
        
    }

    .fotografias-ventas{
        width:250px;
        height: 187px;
    }
    .fotografias-ventas2{
        width:250px;
        height: 187px;
    }
    .menu-mobile {
        display: block;
    }
    .footer-flex{
        display: block;
        text-align: center;
        max-width: fit-content;
    }

    header{
        display: block;
        position: relative;
        
    }
    
    /* palmares */
     
    .iframe-palmares{
        display:none;
    }

    /* lotes */
    #terrenos-lotes{
        width: 30vw ;
        display: block;
        justify-content: center;
        h1{
            font-size: 30px;
        }
        h2{
            font: 20px ;
        }
    }
    .lotes-body{
        display: block;
        width: auto;
    }

    .video-lotes{
        display: none;
        width: auto;
    }

    #imagenes-lotes-venta{
        display: block;
        position: relative;
        align-content: center;
    }

    .imagenes-lotes{
        display: block;
        align-items: center;
        width: auto;
    }

    .fotografias-lotes {
        width: 250px;
        height: 187px;
        padding: 20px;
        transition: none;  
        
      }

      /* vender */

      .principal-vender{
          display: block;
      }

      #background-iframe{
          display: none;
      }
      .lotes-center{
        display: block;
        align-content: center;
      }

      .formulario{
    
        padding: 10px 0 10px 0;
        width: 50%;
        margin-left: 10px;
      }    
}
