// backgrounds

$color-principal: rgb(18, 19, 19);
$background-footer-header:rgb(0, 0, 0);
// fonts and hovers
$backgrounds-titles: rgb(214, 104, 15);
$color-naranja-principal:rgb(240, 152, 20);
$color-parrafos:rgb(197, 195, 195);

