// backgrounds

$color-principal: rgb(37, 43, 43);
$background-footer-header:rgb(35, 37, 37);
// fonts and hovers
$backgrounds-titles: rgb(214, 104, 15);
$color-naranja-principal:rgb(240, 152, 20);
$color-parrafos:rgb(197, 195, 195);

