.info-vender{
    font-family: $font-parrafos;
    color: rgb(212, 212, 212);
    font-size: 25px;
    font-weight: 400;
  }
  .info-vender:hover{
    font-size: 30px;
  }
  .principal-vender{
    display: grid;
    grid-template-areas: 
    'header header header'
    'info info info'
    'info1 info1 info1'
    'maps maps maps'
    'footer footer footer'
    ;
  }
  
  #boton-ventas{
    background-color:  
    rgb(118, 128, 128);
    border-color: rgb(24, 23, 22);
    border-radius: 30%;
    padding: 10px;
  }
  
  #boton-ventas:hover{
    background-color: rgb(167, 77, 4);
  }
  
  #boton-ventas a{
    color: rgb(0, 0, 0);
    font-family: 'urbanist';
  }
  
  #boton-ventas a:hover{
    color: rgb(43, 65, 65);
  }
  
  #boton-position{
    display: flex;
    justify-content: center;
  }
  
  
  #header1{
    grid-area: header;
    align-content: center;
    position: sticky;
    top: 0;
    z-index: 999;  
  }
  #info1{
    grid-area: info;
    align-content: center;
    background-image: url(https://i.ibb.co/yqH5QrZ/001.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 100px 0px 100px 0px; 
  }
  #info1 h1{
    color: rgb(231, 143, 9);
    position: relative;
    font-size: 45px;
    font-weight: 400;
  }
  
  #info1 p {
    font-family: $font-principal;
    color: rgb(218, 216, 216);
    position: relative;
    font-size: 20px;
  }
  #info1::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  #info2{
    grid-area: info1;
    justify-items: center; 
  }
  #ubicacion{
    grid-area: maps;
    align-content: center;  
  }

  .font-3 {
    font-weight: 400;
    color: rgb(204, 120, 35);
    margin-left: 100px;
    margin-right: 100px;
    font-size: 30px;
  }