@import "variables";
@import "mixins";
@import "index";
@import "media";
@import "etiquetas";
@import "lotes";
@import "nosotros";
@import "tasaciones";
@import "vender",
        "./menu-mobile";




  

 
  // FORMULARIO

  .body-form{
    display: grid;
    grid-template-areas: 'header header header'
    'solic solic solic'
    'form form form'
    'foot foot foot';
    align-items: baseline;
  }
  .formulario{
    grid-area: form;
    padding: 10px 0 10px 0;
    width: 70vw;
    text-align: center;
    margin: 0 auto;
   
    label{
      color: $color-parrafos;     
    }
    h2{
      color: $color-parrafos;
    } 
  }
  #solic{
    padding: 20px 0 10px 0;
    grid-area: solic;
  }
  #foot-form{
    grid-area: foot;
  }