@import "variables";
@import "mixins";
@import "index";
@import "media";
@import "etiquetas";
@import "lotes";
@import "nosotros";
@import "tasaciones";
@import "vender",
        "./menu-mobile";


#titlepalm{
    font-size: $titlepalm/2;
    font-weight: 700;
  }
  .align-section2{
    display: block;
    text-align: start;
    font-size: 20px;
   font-weight: 600;
   margin: 10px 0 0 0;
   color: rgb(236, 236, 236);
    
  }
  .align-section{
    display: block;
   text-align: center;
   font-size: 20px;
   font-weight: 600;
   margin: 10px 0 0 0;
   color: rgb(236, 236, 236);

  
  }

  // palm valleys

  .list-palmares{
    
    li{
    list-style-type:armenian;
    display: block;
    text-align: left;
    padding: 1px;
    font-size: 12px;
    color: rgb(236, 236, 236);
    }
    li:hover{
      transition: none;
      transform: none;
      list-style-type: armenian;
      
    }
  }
  
  .section2{
   p{
      color: $color-naranja-principal;   
    }
  }

  .tab-palm{
    h2{
      color: $color-naranja-principal;

    }
  }
  
  // FORMULARIO

  .body-form{
    display: grid;
    grid-template-areas: 'header header header'
    'solic solic solic'
    'form form form'
    'foot foot foot';
    align-items: baseline;
  }
  .formulario{
    grid-area: form;
    padding: 10px 0 10px 0;
    width: 70vw;
    text-align: center;
    margin: 0 auto;
    // margin-left: 350px;
    label{
      color: $color-parrafos;     
    }
    h2{
      color: $color-parrafos;
    } 
  }
  #solic{
    padding: 20px 0 10px 0;
    grid-area: solic;
  }
  #foot-form{
    grid-area: foot;
  }